{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "jest",
    "flowtype"
  ],
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "no-prototype-builtins": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "react/no-find-dom-node": "off",
    "react/jsx-filename-extension": "off",
    "react/sort-comp": "off",
    "react/require-default-props": "off",
    "react/no-multi-comp": "off",
    "jsx-a11y/img-has-alt": "off"
  }
}
